body, html{
    background: #1B1D31;  
    font-family: "Poppins", sans-serif;
}

.btn-actions{
    font-size: 0.7em !important;
    width: 60px;
    font-weight: bold;
    margin: 4px;
}

input[type="search"]{
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:black;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgb(97, 96, 96);
    margin: 3px;
}

.message-error{
    color: red;
}

.preload{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(223, 227, 203, 0.73);
    z-index:2000;
    cursor: progress;
    display: none;
}

.menu-slide li a{
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    display: inline-block;

}

.title{
    background-color: black;
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
    margin: 15px;
    font-size: 35px;
    font-weight: bold;
}

#container-slider {
    display: flex;
    flex-direction: column;
    background-color: #1B2A41;
    height: 100%;

}

.accordion-collapse {
    background-color: #1B2A41; 
}

.accordion-body {
    background-color: #1B1D31; 
    color: #ffffff; 
}

.accordion-button:not(.collapsed) {
    background-color: #1B1D31; 
    color: #ffffff; 
}


.accordion {
    flex-grow: 1; 
    overflow-y: auto; 
}

.accordion-item {
    margin-bottom: 5px; 
    border: none !important;
}


.accordion-button {
    background-color: #1B2A41; 
    color: #ffffff;
}

.accordion-button:hover {
    background-color: #24253C;
    color: #ffffff;
}
.accordion-button .bi {
    color: #ffffff; 
}

.accordion-button.active {
    background-color: #1B1D31; 
    color: #ffffff; 
}

.accordion-button.active .bi {
    color: #ffffff; 
}

.list-group-item.active {
    background-color: #1B1D31; 
    color: #ffffff; 
}

.list-group-item {
    background-color: #1B2A41;
    color: #ffffff; 
    border: none !important;
}

.list-group-item:hover {
    background-color: #1B2A41 !important;
    color: #ffffff; 
}

.list-group-item .bi {
    color: #ffffff; 
}


.foot{
    width: 100%;
    background-color: #1B2A41;
    
}
